
/* Theme colors */

:root {

    --light-theme-color:        #806;
    --light-accent-color:       #03c;
    --light-link-color:         #858;
    --light-link-color-accent:  #f0f;

    --dark-theme-color:         #f7d;
    --dark-accent-color:        #2be;
    --dark-link-color:          #979;
    --dark-link-color-accent:   #f0f;
}

/* Page header & Toolbar */

:root {

    --header-height:         256px;
    --header-min-height:       0px;
    --header-toolbar-height:  64px;
}
.toolbar-row-banner { 

    background-color: var(--theme-color);
    background: center/cover url(https://picsum.photos/id/25/1600/800);
    background-blend-mode: hard-light;
}

/* Cards grid */

.grid { 

    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr))
}

/* Aside */

aside { 

    border-color: var(--accent-color);
    margin: var(--gap);
}

@media screen and (min-width: 1300px) {

    :root {

        --left-text-margin-ratio: 0.3
    }

    aside {

        position: absolute;
        right:    0;
        width:    min(40ch, calc(calc(var(--right-text-margin-ratio) * calc(100% - var(--max-text-width))) - calc(2 * var(--gap))));
    }
}