<?php 

    include __DIR__."/../dom.php"; // Include framework and then import needed functions
    use function dom\{unsplash_url_img};
?>

/* Theme colors */
:root {
    --light-theme-color:        #806;
    --light-accent-color:       #03c;
    --light-link-color:         #858;
    --light-link-color-accent:  #f0f;

    --dark-theme-color:         #f7d;
    --dark-accent-color:        #2be;
    --dark-link-color:          #979;
    --dark-link-color-accent:   #f0f;
}

/* Toolbar */
:root {
    --header-height:         128px;
    --header-min-height:      64px;
    --header-toolbar-height:  64px;
}
.toolbar-row-banner { 
    background: center/cover url(<?= unsplash_url_img("Baz9Oss6Hj8", 1200, 800, "tylerhendy") ?>); 
    background-color: var(--theme-color);
    background-blend-mode: hard-light;
}

/* Page look */
header, article { background-color: unset }
aside           { border-color: var(--accent-color) }
pre             { font-size: .8em; }

/* Cards layout */
.grid { grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr)) }

/* Cards look */
.card {     
    background-color:   var(--background-lighter-color);
    border:             1px solid var(--background-lighter-color);
    border-radius:      .5em; 
    box-shadow:         0px 0px 4px 2px var(--background-color); 
} 
.card-title h1 {
    color: var(--text-lighter-color);
    font-size: 1.17rem;
}

/* Code look */
pre {
    border:         1px dashed var(--border-color);
    padding:        var( --gap);
    font-size:      .66em;
    line-height:    1.3em;
}

/* On large screens, put aside on the side */
@media screen and (min-width: 1300px) {
    :root {
        --left-text-margin-ratio: 0.3 
    }
    aside {
        position: absolute;
        right:    var(--gap);
        width:    calc(var(--right-text-margin-ratio) * calc(100vw - var(--max-text-width)) - 2 * var(--gap));
    }
}