<?php require_once(__DIR__."/../dom.php");

use function dom\{set,get,unsplash_url_img};

list($unsplash_id, $unsplash_author) = explode(',',get("unsplash"));

?>

/* Theme colors */

:root {
    
    --light-theme-color: #408;
    --light-accent-color: #e10047;

    --dark-theme-color: #11ccee;
    --dark-accent-color: #ff96ff;

    --dark-background-darker-color: #101015;
    --dark-background-color: #161619;
    --dark-background-lighter-color: #191922;

    --gap: 1.5rem;

    --header-height:          256px;
    --header-min-height:       64px;
    --header-toolbar-height:   64px;
}

/* Header toolbar */

.toolbar-row-banner { 
    
    background-color: var(--theme-color);
    background-blend-mode: luminosity;
    background-size: cover; 
    background-position: center; 
    background-image: url(<?= unsplash_url_img($unsplash_id, 1200, 800, $unsplash_author) ?>);
}

@media screen and (max-width: 900px) { .toolbar-row-banner { background-image: url(<?= unsplash_url_img($unsplash_id, 900, 600, $unsplash_author) ?>); } }
@media screen and (max-width: 700px) { .toolbar-row-banner { background-image: url(<?= unsplash_url_img($unsplash_id, 720, 480, $unsplash_author) ?>); } }
@media screen and (max-width: 500px) { .toolbar-row-banner { background-image: url(<?= unsplash_url_img($unsplash_id, 480, 320, $unsplash_author) ?>); } }
@media screen and (max-width: 300px) { .toolbar-row-banner { background-image: url(<?= unsplash_url_img($unsplash_id, 300, 200, $unsplash_author) ?>); } }

/* Layout */

.grid { 
    
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100vw), 1fr));
    margin-bottom: var(--gap); 

    overflow: hidden; /* if overflow is hidden, then needs to have a padding equivalent to elements box shadow size */
    padding: min(calc(2px + 8px), var(--margin-gap)); 
}

/* Articles & cards colors & shadows */

article {

    border-color: var(--background-color);
    box-shadow: 2px 2px 8px 2px #00000036;
}

.card {

    border-color: var(--background-lighter-color);
    box-shadow: 2px 2px 8px 2px #00000036;
}

/* Round corners */

article {

    --border-radius: clamp(0px, calc(100vw - var(--mobile-no-margin-breakpoint)), .75em);
      border-radius: var(--border-radius);
}
article > header {

    border-top-left-radius:  var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.card {

    --border-radius: clamp(0px, calc(100vw - var(--mobile-no-margin-breakpoint)), .5em);
      border-radius: var(--border-radius);
}
.card > *:first-child {

    border-top-left-radius:  var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.card > *:last-child {

    border-bottom-left-radius:  var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

article> *:last-child {

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
article > *:first-child {

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

article> *:last-child {

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
article > *:first-child {

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

/* Async loading container */

.ajax-container {

    margin-bottom: 0; 
}
.ajax-container img[alt="loading"] {

    width: 100%;
    height: auto;
    aspect-ratio: 300 / 200;
    object-fit: contain;
}

/* Introspection code */

article .card.ide {
    
    --border-radius: clamp(0px, calc(100vw - var(--mobile-no-margin-breakpoint)), .5em);
    border-radius: var(--border-radius);
      
    border-color: var(--background-lighter-color);
    box-shadow: 2px 2px 8px 2px #00000036;

    margin-inline: min(calc(1 * var(--gap)), calc(-0.5 * max(0px, calc(100vw - 2 * var(--gap) - var(--max-text-width)))));
    width: calc(100vw - 2 * var(--margin-gap));
}

article .card.ide .ide-code {
    
    white-space: pre;
    overflow-x: scroll;
}
